.dashboard {
	display: flex;
	justify-items: flex-start;
	height: 100vh;
	width: 100vw;
	margin-top: 100px;
}

.dashboard-left {
	display: flex;
	flex-direction: column;
	margin-left: 180px;
	height: 100%;
	position: relative;
}

.dashboard-right {
	// display: flex;
	margin-left: 950px;
	position: fixed;
}