.dashboard {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	width: 100vw;
}

.dashboard-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

		.dashboard-left {
			display: flex;
			flex-direction: column;
			margin-right: 100px;
		}

		.dashboard-right {
			display: flex;
			margin-left: 500px;
			position: absolute;
		}