.dashboard {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 80vh;
	width: 80vw;
}

.dashboard-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-top: 100px;
}

		.dashboard-left {
			display: flex;
			flex-direction: column;
			margin-right: 100px;
			position: relative;
		}
		
		.dashboard-right {
			display: flex;
			margin-left: 500px;
			position: fixed;
		}