.navbar{
	top: 0;
  width: 100%;
}

.nav-logged-in {
	z-index: 1;
	height: 56px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 55px;
	img {
		height: 45px;
		width: 30px;
		margin: 0px 100px 0px 182px;
	}
	span {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: row;
			width: 160px;
			margin-left: 275px;
		}
}

.nav-splash {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	height: 56px;
	img {
		height: 45px;
		width: 30px;
		margin-right: 10px;
	}
}

		.nav-bar-left {
			display: flex;
			align-items: center;
		}
				.nav-home-link {
					color: rgb(0, 0, 0);
					fill: rgb(0, 0, 0);
					font-family: sans-serif;
					font-size: 20.25px;
					letter-spacing: -0.5px;
					margin-left: 8px;
				}
				.nav-home-link:hover {
					color: rgb(33, 206, 153);
				}

		.nav-bar-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: row;
			width: 400px;
		}

				.nav-link {
					color: rgb(0, 0, 0);
					fill: rgb(0, 0, 0);
					font-family: sans-serif;
					font-size: 16.5px;
					font-weight: bold;
					margin-right: 30px;
					letter-spacing: -1px;
				}
			
				.nav-link:hover {
					color: rgb(33, 206, 153);
				}

// / specifically for the nav when signed in

// 		.search-bar {
// 			display: flex;
// 			border: lightgrey;
// 			width: 478px;
// 			height: 36px;
// 			background: whitesmoke
// 		}

		.nav-demo-link {
			color: rgb(0, 0, 0);
			fill: rgb(0, 0, 0);
			font-family: sans-serif;
			font-size: 13px;
			font-weight: bold;
			margin-right: 30px;
			letter-spacing: 0.25px;
		}

		.nav-demo-link:hover {
			color: rgb(33, 206, 153);
		}