.price-chart-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: black;
}

		.chart-company {
			font-size: 34px;
			font-weight: 600;
			letter-spacing: -0.50px;
		}
		
		.chart-numbers {
			display: flex;
			flex-direction: column;
		}

				// exact same as chart-company above
				.chart-price {
					font-size: 34px;
					font-weight: 600;
					letter-spacing: -0.50px;
				}

				.chart-price-changes {
					font-size: 14px;
					font-weight: 600;
					letter-spacing: -0.50px;
				}
		
		// year that displays when hovering
		.chart-year {
			top: 80px;
			width: 80px;
			padding-left: 8px;
			position: absolute;
		}
		
				.chart-year-year {
					font-size: 14px;
					color: lightgrey;
				}

		#chart-buttons{
			margin: 24px 0 12px;
			border-bottom: 1px solid rgb(244, 244, 245);
			height: 35.5px;
			button{
				padding: 0 0 14px;
				margin: 0 12px;
				font-size: 13px;
				font-weight: 750;
			}
			button:first-child{
				margin-left: 0;
			}
			button:hover{
				color: #f45531;
				cursor: pointer;
			}
			button.selected{
				color: #f45531;
				border-bottom: 2px solid #f45531;
				padding-top: 2px;
			}
		}