.stock-show-main-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

		.stock-show-left-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 300px;
		}

		.stock-show-right-column {
			display: flex;
			justify-content: center;
			margin-left: 450px;
			position: fixed;
		}