.stock-show {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #1b1b1d;
}

		.stock-show-chart-and-order {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100vw;
		}