.price-chart-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: black;
}

		.chart-company {
			font-size: 32px;
			font-weight: 600;
			letter-spacing: -0.50px;
			padding-bottom: 5px;
		}
		
		.chart-price {
			font-size: 32px;
			font-weight: 100;
			letter-spacing: -0.50px;
			padding-bottom: 90px;
		}
		

		.chart-buttons-row {
			display: flex;
		}

				.chart-button {
					padding-right: 12px;
					font-size: 14px;
					font-weight: 500;
				}

				// year that displays when hovering
				.chart-year {
					top: 65px;
					width: 80px;
					position: absolute;
					color: lightgrey;
				}