.price-chart-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: black;
}

		.price-chart-text {
			font-size: 32px;
			font-weight: 600;
			letter-spacing: -0.50px;
			line-height: 42px;
		}

		.chart-buttons-row {
			display: flex;

		}

				.chart-button {
					padding-right: 12px;
					font-size: 14px;
					font-weight: 500;
				}


				.chart-label-div {
					height: 50px;
					width: 50px;
					background-color: blue;
				}

				.chart-price-label {
					font-size: 12px;
					color: yellow;
				}