.order-form {
	display: flex;
	flex-direction: column;
	height: 354px;
	width: 275px;
	font-family: sans-serif;
	color: black;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
	padding-left: 24px;
	padding-right: 24px;
}

		.heading-div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 52px;
			line-height: 19px;
			padding-top: 4px;
			padding-bottom: 4px;
			border-bottom-width: 1px;
			border-bottom-color: rgb(244, 244, 245);
			border-bottom-style: solid;
		}

				.heading-symbol {
					letter-spacing: 0.25px;
					font-size: 18px;
					font-weight: bold;	
				}

				.heading-order-type-tog {

				}

		.order-atts-div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 169px;
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.25px;
				line-height: 19px;
		}
		
		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 48px;
		}

				.row-shares {
					font-size: 14px;
					letter-spacing: 0.25px;
					font-weight: 300px;
					color: rgb(33, 206, 153);
				}

				.shares-input {
					height: 36px;
					width: 82px;
					padding-left: 13px;
					padding-right: 13px;
					border: 1px;
					border-style: solid;
					line-height: 19.5px;
					text-align: right;
				}

				.row-price {
					font-size: 14px;
					letter-spacing: 0.25px;
					font-weight: bolder;
					color: rgb(33, 206, 153);
				}

				.row-output {
					font-size: 14px;
					letter-spacing: 0.25px;
					font-weight: bolder;
				}

				.row-value {
					font-size: 14px;
					letter-spacing: 0.25px;
					font-weight: bolder;
				}

				.price-border {
					display: flex;
					justify-content: center;
					align-content: center;
					width: 99%;
					height: 2px;
					border-bottom-width: 1px;
					border-bottom-color: rgb(244, 244, 245);
					border-bottom-style: solid;
				}
				
		.submit-order-button-div {
			display: flex;
			justify-content: center;
			width: 100%;
			height: 85px;
			padding-top: 12px;
			padding-bottom: 24px;
		}

				.submit-order-button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					height: 48px;
					width: 228px;
					color: rgb(255, 255, 255);
					background: rgb(33, 206, 153);
					border-color: rgb(33, 206, 153);
					font-size: 14px;
					font-weight: bolder;
					letter-spacing: 0.25px;
					border-radius: 4px;
				}

				.submit-order-button:hover {
					color: black;
				}

		.avail-gold-div {
			display: flex;
			height: 52px;
			padding-top: 4px;
			padding-bottom: 4px;
			border-top-width: 1px;
			border-top-color: rgb(244, 244, 245);;
			border-top-style: solid;
		}

				.avail-gold {
					display: flex;
					justify-content: center;
					align-items: center;
					color: rgb(33, 206, 153);
					width: 100%;
					height: 32px;
					margin: 0px;
				}