.stock-show {
	display: flex;
	flex-direction: column;
	align-items: center;
}

		.stock-show-main-div {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100vw;
		}

				.stock-show-left-column {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 700px;
				}

				.stock-show-right-column {
					display: flex;
					justify-content: center;
					height: 100vh;
				}