.stock-info-div {
	display: flex;
	flex-direction: column;
}

		.about-div {
			display: flex;
			flex-direction: column;
		}

				.about-header {
					font-size: 26px;
					letter-spacing: -0.5px;
					font-weight: 500;
					margin: 0px;
					padding-top: 24px;
					padding-bottom: 12px;
					border-bottom-width: 1px;
					border-bottom-color: rgb(244, 244, 245);
					border-bottom-style: solid;
				}

				.about-p {
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 0.25px;
					max-width: 600px;
					margin: 0px;
					padding-bottom: 30px;
					// line-height: 19px;
				}

		.stock-info-div-div {
			display: flex;
			flex-wrap: wrap;
		}

				.row-item {
					display: flex;
					flex-direction: column;
					width: 25%;
					padding-bottom: 8px;
				}

						.info-header {
							font-size: 13px;
							font-weight: bolder;
						}

						.info-text {
							font-size: 13px;
						}