.stock-info-div {
	display: flex;
	flex-direction: row;
	width: 100vw;
}

.about-div {
	display: flex;
	flex-direction: column;
}

.about-header {
	font-size: 24px;
	// font-weight: bold;
}

.about-p {
	font-family: sans-serif;
	font-size: 15px;
	// font-weight: 200px;
	letter-spacing: 0.25px;
	// line-height: 19px;
	color: #ffffff;
}

.stock-info-div {
	display: flex;
	flex-direction: column;
	width: 900px;
}

.row-1 {
	display: flex;
	width: 400px;
	flex-direction: column;
}

.row-1-headers {
	display: flex;
	width: 400px;
	justify-content: space-evenly;
}
.info-text {
	font-size: 12px;
}

.row-2 {
	display: flex;
}